.actor {
  display: flex;
  align-items: center;
  justify-content: center;
  & &__label {
    bottom: 0;
    width: 100%;
    padding: 1px;
    background: rgba(255, 255, 255, 0.35);
    text-align: center;
    font-size: 0.85rem;
  }

  & &__sprite {
    background-repeat: no-repeat;
  }

  & &__select-menu {
    padding: 4px;
    background: #ffffff;
    list-style: none;
    font-size: 0.85rem;
    z-index: 1000;
  }
}
